<p id="page_title" style="color:#f4f4f4">Big View</p>


<div class="demo-charts mdl-grid" id="fartContainer"><%= @fart.render() %></div>

<div class="demo-charts mdl-grid" id="chartContainer"><%= @chart.render() %></div>

