<p id="page_title" style="color:#f4f4f4">Massachusetts Health vs Availability</p>
<div class="demo-charts mdl-grid fusion" id="fartContainer"><%= @chart.render() %></div>


<div class="demo-charts mdl-grid" id="chartContainer"><%= @fart.render() %></div>